.all-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "heading-container"
        "hero-container"
        "body-container"
        "footer";
}


.heading-container {
    margin: 10px 0 10px 0;
    padding: 10px;
    background-color: rosybrown;
    display: grid;
    border: 1px dashed teal;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "heading-0 heading-0"
        "heading-1 heading-1"
        "heading-2 heading-3"
}

.heading-0 {
    font-size: 1.3em;
    font-weight: bold;
    grid-area: heading-0;
    /* text-align: center; */
}

.heading-1 {
    grid-area: heading-1;
    text-align: center;
}

.heading-2 {
    grid-area: heading-2;
    text-align: center;

}

.heading-3 {
    grid-area: heading-3;
    text-align: center;

}

.hero-0 {
    font-size: 1.3em;
    font-weight: bold;
    grid-area: hero-0;
    /* text-align: center; */
}

.hero-1 {
    grid-area: hero-1;
    text-align: center;
}

.hero-2 {
    grid-area: hero-2;
    text-align: center;

}

.hero-container {
    margin: 10px 0 10px 0;
    padding: 10px;
    background-color: bisque;
    display: grid;
    border: 1px dashed teal;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "hero-0"
        "hero-1"
        "hero-2"
}

.body-0 {
    font-size: 1.3em;
    font-weight: bold;
    grid-area: body-0;
    /* text-align: center; */
}

.body-1 {
    grid-area: body-1;
    text-align: center;
}

.body-ad {
    grid-area: body-ad;
    width: 100%;
}

.body-2 {
    grid-area: body-2;
    text-align: center;

}

.body-container {
    margin: 10px 0 10px 0;
    padding: 10px;
    background-color: paleturquoise;
    display: grid;
    border: 1px dashed teal;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 2fr;
    grid-template-areas:
        "body-0"
        "body-1"
        "body-ad"
        "body-2"
}

div {
    border: 1px solid red;
}

.sidebar-0 {
    grid-area: siber-0;
    font-size: 1.3em;
    font-weight: bold;
}

.sidebar-1 {
    grid-area: siber-1;
    text-align: center;
}

footer {
    font-size: 1.3em;
    font-weight: bold;
    border: 1px solid red;

}

/* Phone screen */

@media (max-width: 576px) {

    .hero-1 {
        display: none;
    }

    .sidebar-container {
        display: none;
    }
}

/* Tablet screen */
@media (min-width: 576px) {

    .heading-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "heading-0 heading-0 heading-0"
            "heading-1 heading-2 heading-3"
    }

    .body-container {
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr 1fr 2fr;
        grid-template-areas:
            "body-0 body-0"
            "body-1 body-ad"
            "body-2 body-2"
    }

}

@media (min-width: 992px) {

    .body-ad {
        display: none;
    }

    /* Need to fix this */
    .all-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "heading-container heading-container"
            "hero-container hero-container"
            "body-container side-container"
            "footer footer"
    }

}